.main{
  width:68.571428571rem;
  margin:0 auto;
  height:130px;
}

@media screen and (max-width:1100px) {
  .main{
    width:100%;
    margin:0 auto;
  }
}
 
.person{
  width:150px;
  float:left;
  margin:10px;
  border:1px #dedede solid;
  padding:5px;
}

.person a{
  display:block;
  width:150px;
  height:150px;
  background-size:150px 150px;
  text-decoration: none;
  position: relative;
  margin:0 auto;
}

.pic{
  width:150px;
  float:left;
  margin:10px;
  border:1px #dedede solid;
  padding:5px;
}

.pic a{
  display:block;
  width:150px;
  height:150px;
  text-decoration: none;
  position: relative;
  margin:0 auto;
}



.person a span{
  position:absolute;
  bottom: 0;
  display: block;
  color: #fff;
  width: 150px;
  min-height: 40px;
  background: url(../img/transparent1.png);
  padding: 2px 0 0 3px;
}

#top_img, #tony{
  width:100%;
  height:auot;
}

.loader{
  height:11px;
}

.footer{
  background-color:#;

}
